/* GOOGLE FONT FAMILY 
font-family: 'Fira Sans',
sans-serif;
font-family: 'Heebo',
sans-serif; */

/* GENERAL RULES */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1rem;
    font-weight: normal;
    color: #60698d;
    line-height: 1.5;
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}

p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fira Sans', sans-serif;
    color: #1d2a5d;
    text-transform: capitalize;
    line-height: 1.2;
}

h3 {
    font-size: 2.5rem;
}

/* END GERERAL RULES */
/* START HELPER CLASSES */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}


.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding-top: 120px;
}

.section-heading {
    width: 50%;
    margin: 0 auto 30px auto;
    text-align: center;
}

.section-heading h2 {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.lead {
    letter-spacing: 1.1px;
}

.btn {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Fira Sans',
        sans-serif;
    display: inline-block;
    padding: 2rem 3rem;
    background: #fff;
    color: #487cff;
    border-radius: 10px;
    position: relative;

}

.btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.btn:hover::after {
    width: 100%;
    height: 100%;
}

.bullet {
    width: 15px;
    height: 15px;
    background-color: #487cff;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.loaded {
    -webkit-animation: disapper 0.3s forwards;
    animation: disapper 0.3s forwards;
}

@-webkit-keyframes disapper {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes disapper {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* END HELPER CLASSES */

/* START LOADER STYLES */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d35400;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #fff;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/* START HEADER STYLES */
.header {
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: all 0.3s ease;
}

.header.scroll {
    background-color: #fff;
    height: 80px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.header.scroll .nav-link {
    color: #487cff;
}

.header.scroll .nav-link::before {
    background-color: #487cff;
}


.header.scroll .toggler-menu .bar {
    background-color: #487cff;
}

.logo-img {
    width: 80%;
}

.header.menu-open .main-nav {
    display: block;
    transform: scale(1);
}

.header.menu-open .nav-list {
    flex-direction: column;
    align-items: start;
}

.header.menu-open .list-item {
    width: 100%;
}


.header.menu-open .nav-link {
    color: #60698d;
}

.nav-list {
    padding: 10px;
}

.list-item {
    padding: 5px 8px;
    margin-right: 5px;
}

.list-item:last-child {
    margin-right: 0;
}

.nav-link {
    font-size: 1.8rem;
    color: #fff;
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-link.active::before {
    opacity: 1;
}

.nav-link:hover::before {
    opacity: 1;
}

.header.menu-open .nav-link::before {
    background-color: #487cff;
    left: 5px;
}

.header .toggler-menu {
    width: 30px;
    cursor: pointer;
    display: none;
}

.header .toggler-menu .bar {
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
}

.header .toggler-menu .bar:not(:last-child) {
    margin-bottom: 5px;
}

.header.menu-open .bar:first-child {
    transform: rotate(-230deg);
    top: 10px;
}


.header.menu-open .bar:nth-child(2) {
    transform: translateX(-30px);
    opacity: 0;
}

.header.menu-open .bar:last-child {
    transform: rotate(230deg);
    bottom: 5px;
}


/* END HEADER STYLES */

/* START BANNER STYLES */
.banner {
    background: url(../img/hero/hero-bg.svg) no-repeat bottom left;
    background-size: cover;
    position: relative;
    object-fit: cover;
    padding: 150px 0;
}

.banner .container {
    height: 100%;
}

.banner-text {
    flex: 0 0 50%;
    color: #fff;
    margin-right: 2rem;
}

.banner-heading {
    font-size: 5.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 3rem;
}

.banner-text .lead {
    margin-bottom: 5rem;
}

.banner-img {
    position: relative;
    flex: 0 0 50%;
}

.banner-img img {
    position: relative;
    text-align: right;
}

.banner-img img:first-of-type {
    position: relative;
    z-index: 5;
}

.banner-img img:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.banner-img img:last-of-type {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}


/* END BANNER STYLES */
/* START CLIENTS STYLES */

.client-logo {
    opacity: 0.6;
    transition: all 0.3s ease;
    margin-right: 3rem;
    width: 100%;
}

.client-logo-wrap {
    width: calc(100% / 5 - 1.5rem);
    padding: 0.5rem;
}

.client-logo:last-child {
    margin-right: 0;
}

.client-logo:hover {
    opacity: 1;
}

/* END CLIENTS STYLES */

/* START FEATURES STYLES */
.features-items .item {
    padding: 2rem 1.5rem;
    text-align: center;
    margin-right: 3rem;
}

.features-items .item:last-child {
    margin-right: 0;
}

.feature-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}

.feature-icon-blue {
    background-color: #487cff;
    color: #fff;
}

.feature-icon-orange {
    background-color: #ffb260;
    color: #fff;
}

.feature-icon-red {
    background-color: #ff92a5;
    color: #fff;
}

.feature-icon-blue::before {
    background-color: #487cff;
}

.feature-icon-orange::before {
    background-color: #ffb260;
}

.feature-icon-red::before {
    background-color: #ff92a5;
}

.feature-icon::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    border-radius: 10px;
    z-index: -1;
    transition: all 0.3s ease;
}

.feature-title {
    margin: 3rem 0 3rem 0;
}

.features-items .item:hover .feature-icon::before {
    transform: translate(-20px, 20px);
}

/* END FEATURES STYLES */
/* START ABOUT STYLES */
.about .flex {
    align-items: stretch;
}

.about-content .title {
    margin-bottom: 2rem;
}


.about-left,
.about-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 2rem;
    flex: 0 0 30%;
}

.about-middle {
    flex: 0 0 35%;
}

.about-middle img {
    width: 100%;
}

.about-content .about-single {
    padding: 1rem;
    margin-bottom: 3rem;
}

/* START ABOUT STYLES */

/* START TESTI STYLES */
.testi {
    background: url(../img/testimonial/testimonial-bg.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 120px;
    position: relative;
}

.testi .section-heading,
.testi .section-heading h2 {
    color: #fff;
}

.testi-cards {
    position: relative;
    width: 50%;
    margin: 40px auto 0;
    display: flex;
    overflow: hidden;
    padding: 30px;
}

.testi .card {
    background-color: #fff;
    padding: 3rem 4rem;
    border-radius: 10px;
    flex: 0 0 100%;
    position: relative;
    z-index: 0;
    margin-right: 3rem;
}

.testi .card::before,
.testi .card::after {
    content: '';
    position: absolute;
    border-radius: 10px;
    top: -15px;
    right: -15px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.4;
    z-index: -1;
}

.testi .card::after {
    top: -30px;
    right: -30px;
    opacity: 0.2;
}


.testi .card-heading {
    font-size: 1.8rem;
    margin: 1.2rem 0 0.5rem 0;
}

.testi .card-title {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.testi .card-icon {
    font-size: 8rem;
    opacity: 0.7;
    color: #487cff;
    position: absolute;
    top: 60px;
    right: 60px;
}

.testi .testi-control {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.15;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all 0.3s ease;
    cursor: pointer;
}

.testi .testi-control:hover {
    background-color: #fff;
    opacity: 1;
    color: #487cff;
}

.testi .control-left {
    top: 50%;
    left: 40px;
}

.testi .control-right {
    top: 50%;
    right: 40px;
}

/* END TESTI STYLES */

/* START EXPLORE STYLES */
.explore-content {
    align-items: stretch;
}

.explore-img {
    margin-right: 3rem;
    flex: 0 0 50%;
}

.explore-img img {
    width: 100%;
}

.explore .section-heading {
    width: 100%;
    text-align: left;
}

.explore-steps {
    padding: 2rem;
}

.explore .steps-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.explore .steps-items .step {
    margin-bottom: 3rem;
    padding: 2rem;
}

.explore .steps-items .step:last-child {
    margin-bottom: 0;
}

.explore .steps-items h3 {
    margin-bottom: 3rem;
}

/* END EXPLORE STYLES */
/* START FAQ STYLES */

.faq-content .title {
    font-size: 1.8rem;
}

.faq-content .accordion {
    margin-right: 3rem;
}


.faq-content .single-faq .label {
    padding: 2rem 0;
    cursor: pointer;
}

.faq-content .single-faq {
    padding: 0 2rem 2rem 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: 60px;
    height: auto;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.faq-content .single-faq.active {
    max-height: 300px;
}


.faq-content .single-faq.active .icon {
    transform: rotate(-180deg);
    color: #487cff;
}

.faq-content .single-faq:last-child {
    margin-bottom: 0;
}

.faq-content .single-faq p {
    font-size: 1.6rem;
    margin-top: 2rem;
}

.faq-content .single-faq .icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    font-weight: 700;
    transition: all 0.3s ease;
}


.faq-img {
    flex: 0 0 50%;
}

.faq-img img {
    width: 100%;
}

/* END FAQ STYLES */

/* START FOOTER STYLES */
.footer {
    background: url(../img/footer/footer-bg.svg) no-repeat top right;
    background-size: cover;
    padding-top: 300px;
}

.footer-content {
    padding: 3rem 0;
}

.footer .title {
    color: #fff;
    margin-bottom: 2.5rem;
    padding-left: 8px;
}

.footer .title:last-of-type {
    padding-left: 0;
}

.footer .link {
    font-size: 1.6rem;
    color: #fff;
}

.download .app-btn .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-family: 'Heebo', sans-serif;
    padding: 1.2rem 2rem;
}

.download .app-btn:first-of-type {
    margin-right: 2rem;
}

.download span {
    display: block;
}

.download span:first-of-type {
    font-size: 1.2rem;
    font-weight: normal;
}

.download .icon {
    font-size: 2.5rem;
    margin-right: 1.5rem;
}

.footer-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    opacity: 0.3;
}


.footer .back {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #487cff;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    right: 5%;
    bottom: 10%;
    z-index: 100;
    transition: all 0.5s ease;
}

.footer .back:hover {
    opacity: 0.8;
}

.footer .back.show {
    display: flex;
}

.copyright {
    padding: 2rem 0;
}

.copyright .copy {
    color: #fff;
    opacity: 0.6;
}

.copyright .social-icon a {
    margin-right: 1.5rem;
    display: inline-block;
    padding: 1.2rem;
}

.copyright .social-icon a:last-child {
    margin-right: 0;
}

.copyright .social-icon i {
    font-size: 1.8rem;
    color: #fff;
    opacity: 0.6;
}



/* END FOOTER STYLES */

/* START RESPONSIVE STYLES */

@media screen and (max-width: 1199px) {
    .banner-text {
        flex: 0 0 50%;
    }

    .banner-heading {
        font-size: 4.8rem;
    }

    .section-heading {
        width: 60%;
    }

    .testi-cards {
        width: 60%;
    }

    .footer-item {
        flex: 0 0 50%;
        margin-bottom: 3rem;
    }

    .footer-content.flex {
        flex-wrap: wrap;
    }

    .download.flex {
        justify-content: start;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 991px) {
    .header .toggler-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .header .main-nav {
        display: none;
        position: absolute;
        top: 100%;
        width: 70%;
        margin: 0 auto;
        background-color: #fff;
        transform: scale(0);
        transition: all 0.3s ease;
    }

    .banner .flex {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .banner-text {
        flex: 0 0 100%;
    }

    .banner-heading {
        font-size: 6rem;
    }

    .banner-img {
        flex: 0 0 auto;
        margin-left: auto;
        bottom: -7rem;
    }

    .clients .flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .client-logo-wrap {
        flex: 0 0 30%;
    }

    .section-heading {
        width: 100%;
    }


    .features .flex {
        flex-wrap: wrap;
    }


    .features-items .item {
        margin-bottom: 3rem;
        flex: 0 0 80%;
        margin: 0 auto 3rem auto !important;
    }

    .about .flex {
        flex-direction: column;
    }

    .testi-cards {
        width: 80%;
    }

    .explore .flex {
        flex-direction: column;
    }

    .faq .flex {
        flex-direction: column;
    }

    .faq-content .accordion {
        margin-bottom: 3rem;
    }

    .download.flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .download .app-btn:first-of-type {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}


@media screen and (max-width:767px) {
    .banner-heading {
        font-size: 5rem;
    }

    .client-logo-wrap {
        flex: 0 0 40%;
    }

    .testi-cards {
        width: 100%;
    }

    .testi .control-left,
    .testi .control-right {
        display: none;
    }

    .download.flex {
        flex-direction: row;
    }

    .download .app-btn:first-of-type {
        margin-right: 2rem;
    }

    .footer-item {
        flex: 0 0 100%;
    }
}

@media screen and (max-width:575px) {
    .banner-heading {
        font-size: 4rem;
    }

    .section-heading h2 {
        font-size: 4rem;
    }

    .features-items .item {
        flex: 0 0 100%;
    }

    .copyright.flex {
        flex-direction: column;
    }

    .copyright .copy {
        margin-bottom: 1.2rem;
    }
}


@media screen and (max-width: 372px) {
    .banner-img {
        display: none;
    }

    .testi .card-icon {
        right: 20px;
    }
}

/* END RESPONSIVE STYLES */